mixin edit-link(file, edit)
  - var file = file;
  - var website_repo = 'https://github.com/nolimits4web/swiper-website'
  - var sub = edit ? 'edit' : 'tree'
  a.edit-link(href=`${website_repo}/${sub}/master/src/jade/${file}`, target="_blank") Improve this Doc
block vars
doctype
html
  head
    meta(charset="utf-8")
    title=title
    meta(property="og:title" content=title)
    meta(property="og:image", content="https://swiperjs.com/i/share-banner.png")
    meta(property="og:site_name", content="Swiper")
    meta(name="twitter:card", content="summary_large_image")
    meta(name="twitter:site", content="@nolimits4web")
    meta(name="twitter:creator", content="@nolimits4web")
    meta(name="twitter:title", content=title)
    meta(name="twitter:description", content="Most Modern Mobile Touch Slider")
    meta(name="twitter:image", content="https://swiperjs.com/i/share-banner.png")
    link(rel="stylesheet", href="/package/css/swiper.min.css")
    link(rel="stylesheet", href="/css/main.css")
    link(rel="shortcut icon" href="/i/favicon.png")
  body
    script.
      (function(){
        var bsa = document.createElement('script');
           bsa.type = 'text/javascript';
           bsa.async = true;
           bsa.src = '//s3.buysellads.com/ac/bsa.js';
        (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
      })();
    header.inner-header
      .center
        .carbon
          <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIE5QE&placement=swiperjscom" id="_carbonads_js"></script>
        a(href="/").logo
        .title-links
          .title Swiper
          .subtitle Most Modern Mobile Touch Slider
          .links-row
            .links
              - if (activeLink == 'get-started')
                a(href="/get-started/").active Get Started
              - else
                a(href="/get-started/") Get Started

              - if (activeLink == 'api')
                a(href="/api/").active API
              - else
                a(href="/api/") API

              - if (activeLink == 'demos')
                a(href="/demos/").active Demos
              - else
                a(href="/demos/") Demos
          .github-buttons
            a(href="https://github.com/nolimits4web/swiper", target="_blank")
              i
            a(href="https://github.com/nolimits4web/swiper", target="_blank").gh-stars
              span
              |  stars
            a(href="https://github.com/nolimits4web/swiper", target="_blank").gh-forks
              span
              |  forks
        .clearfix

    .content(class=noCenterContent ? '' : 'center', class=withLeftNav ? 'with-left-nav' : '')
      block content

    footer
      .center
        .sponsors-links
          span Supported by:
          a(href="https://www.colognewebdesign.de" target="_blank" title="COLOGNE WEBDESIGN") COLOGNE WEBDESIGN
        .sponsors
          .custom-sponsors
            a(href="https://codersrank.io", title="CodersRank - Ultimate Profile for Coders")
              img(src="/i/sponsors/codersrank.svg")
          div(id="bsap_1308868", class="bsarocks bsap_ea6be2338ac7876c60d55b6dc14597fe")
        p.netlify
          <a href="https://www.netlify.com" target="_blank">
            <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg"/>
          </a>
        .links
          a(href="/") Swiper
          a(href="/get-started/") Get Started
          a(href="/api/") API
          a(href="/demos/") Demos
        .copy #{new Date().getFullYear()} © Swiper by <a href="https://github.com/nolimits4web">Vladimir Kharlampidi</a>

    script(src="/package/js/swiper.min.js")
    script(src="/js/main.js")
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149857145-1"></script>
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-149857145-1');
