extends ../_internal-template

block vars
  - var activeLink = 'demos';
  - var title = 'Swiper Demos';
  - var noCenterContent = true;
  - var withLeftNav = true;

block content
  .api-nav
    .api-nav-content
      .api-nav-sponsors
        .api-nav-sponsors-title Sponsors
        a(href="https://codersrank.io/?utm_source=partner&utm_medium=referral&utm_campaign=vladimir", title="CodersRank - Ultimate Profile for Coders", target="_blank")
          img(src="/i/sponsors/codersrank-h.svg")

      ul
        li
          a(href="#default") Default
        li
          a(href="#navigation") Navigation
        li
          a(href="#pagination") Pagination
        li
          a(href="#pagination_dynamic_bullets") Pagination / Dynamic Bullets
        li
          a(href="#progress_pagination") Progress Pagination
        li
          a(href="#fraction_pagination") Fraction Pagination
        li
          a(href="#custom_pagination") Custom Pagination
        li
          a(href="#scrollbar") Scrollbar
        li
          a(href="#vertical_slider") Vertical Slider
        li
          a(href="#space_between_slides") Space Between Slides
        li
          a(href="#multiple_slides_per_view") Multiple Slides Per View
        li
          a(href="#auto_slides_per_view_carousel_mode") Auto Slides Per View / Carousel Mode
        li
          a(href="#centered_slides") Centered Slides
        li
          a(href="#centered_slides_auto_slides_per_view") Centered Slides + Auto Slides Per View
        li
          a(href="#css_scroll_snap") CSS Scroll Snap (CSS Mode)
        li
          a(href="#free_mode_no_fixed_positions") Free Mode / No Fixed Positions
        li
          a(href="#scroll_container") Scroll Container
        li
          a(href="#multi_row_slides_layout") Multi Row Slides Layout
        li
          a(href="#nested_swipers") Nested Swipers
        li
          a(href="#grab_cursor") Grab Cursor
        li
          a(href="#loop_mode_infinite_loop") Loop Mode / Infinite Loop
        li
          a(href="#loop_mode_with_multiple_slides_per_group") Loop Mode with Multiple Slides Per Group
        li
          a(href="#fade_effect") Fade Effect
        li
          a(href="#3D_cube_effect") 3D Cube Effect
        li
          a(href="#3D_coverflow_effect") 3D Coverflow Effect
        li
          a(href="#3D_flip_effect") 3D Flip Effect
        li
          a(href="#keyboard_control") Keyboard Control
        li
          a(href="#mousewheel_control") Mousewheel Control
        li
          a(href="#autoplay") Autoplay
        li
          a(href="#dynamic_slides") Dynamic Slides
        li
          a(href="#thumbs_gallery") Thumbs Gallery
        li
          a(href="#thumbs_gallery_with_loop_mode") Thumbs Gallery With Loop Mode
        li
          a(href="#hash_navigation") Hash Navigation
        li
          a(href="#history_API") History API
        li
          a(href="#RTL_layout") RTL Layout
        li
          a(href="#parallax") Parallax
        li
          a(href="#lazy_loading_images") Lazy Loading Images
        li
          a(href="#responsive_breakpoints") Responsive Breakpoints
        li
          a(href="#auto_height") Auto Height
        li
          a(href="#zoom") Zoom
        li
          a(href="#virtual_slides") Virtual Slides
        li
          a(href="#slideable_vavigation_drawer") Slideable Navigation Drawer
  .api-content
    h1 Swiper Demos
    p You can download all these demos and hook into the code from GitHub <a target="_blank" href="https://github.com/nolimits4web/Swiper/tree/master/demos/">here</a>
    - var linkWindowText = 'Open in new window';
    - var linkSourceText = 'Source code';
    .demo
      h3#default Default Setup
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="010-default.html", scrolling="no", frameborder="0")
    .demo
      h3#navigation Navigation
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="020-navigation.html", scrolling="no", frameborder="0")
    .demo
      h3#pagination Pagination
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="030-pagination.html", scrolling="no", frameborder="0")
    .demo
      h3#pagination_dynamic_bullets Pagination / Dynamic Bullets
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="040-pagination-dynamic.html", scrolling="no", frameborder="0")
    .demo
      h3#progress_pagination Progress Pagination
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="050-pagination-progress.html", scrolling="no", frameborder="0")
    .demo
      h3#fraction_pagination Fraction Pagination
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="060-pagination-fraction.html", scrolling="no", frameborder="0")
    .demo
      h3#custom_pagination Custom Pagination
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", target="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="070-pagination-custom.html", scrolling="no", frameborder="0")
    .demo
      h3#scrollbar Scrollbar
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="080-scrollbar.html", scrolling="no", frameborder="0")
    .demo
      h3#vertical_slider Vertical Slider
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="090-vertical.html", scrolling="no", frameborder="0")
    .demo
      h3#space_between_slides Space Between Slides
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="100-space-between.html", scrolling="no", frameborder="0")
    .demo
      h3#multiple_slides_per_view Multiple Slides Per View
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="110-slides-per-view.html", scrolling="no", frameborder="0")
    .demo
      h3#auto_slides_per_view_carousel_mode Auto Slides Per View / Carousel Mode
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="120-slides-per-view-auto.html", scrolling="no", frameborder="0")
    .demo
      h3#centered_slides Centered Slides
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="130-centered.html", scrolling="no", frameborder="0")
    .demo
      h3#centered_slides_auto_slides_per_view Centered Slides + Auto Slides Per View
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="140-centered-auto.html", scrolling="no", frameborder="0")
    .demo
      h3#css_scroll_snap CSS Scroll Snap (CSS Mode)
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="145-css-mode.html", scrolling="no", frameborder="0")
    .demo
      h3#free_mode_no_fixed_positions Free Mode / No Fixed Positions
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="150-freemode.html", scrolling="no", frameborder="0")
    .demo
      h3#scroll_container Scroll Container
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="160-scroll-container.html", scrolling="no", frameborder="0")
    .demo
      h3#multi_row_slides_layout Multi Row Slides Layout
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="170-slides-per-column.html", scrolling="no", frameborder="0")
    .demo
      h3#nested_swipers Nested Swipers
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="180-nested.html", scrolling="no", frameborder="0")
    .demo
      h3#grab_cursor Grab Cursor
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="190-grab-cursor.html", scrolling="no", frameborder="0")
    .demo
      h3#loop_mode_infinite_loop Loop Mode / Infinite Loop
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="200-infinite-loop.html", scrolling="no", frameborder="0")
    .demo
      h3#loop_mode_with_multiple_slides_per_group Loop Mode with Multiple Slides Per Group
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="210-infinite-loop-with-slides-per-group.html", scrolling="no", frameborder="0")
    .demo
      h3#fade_effect Fade Effect
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="220-effect-fade.html", scrolling="no", frameborder="0")
    .demo
      h3#3D_cube_effect 3D Cube Effect
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="230-effect-cube.html", scrolling="no", frameborder="0")
    .demo
      h3#3D_coverflow_effect 3D Coverflow Effect
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="240-effect-coverflow.html", scrolling="no", frameborder="0")
    .demo
      h3#3D_flip_effect 3D Flip Effect
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="250-effect-flip.html", scrolling="no", frameborder="0")
    .demo
      h3#keyboard_control Keyboard Control (Open in new window)
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="260-keyboard-control.html", scrolling="no", frameborder="0")
    .demo
      h3#mousewheel_control Mousewheel Control
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="270-mousewheel-control.html", scrolling="no", frameborder="0")
    .demo
      h3#autoplay Autoplay
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="280-autoplay.html", scrolling="no", frameborder="0")
    .demo
      h3#dynamic_slides Dynamic Slides
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="290-dynamic-slides.html", scrolling="no", frameborder="0")
    .demo
      h3#thumbs_gallery Thumbs Gallery
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="300-thumbs-gallery.html", scrolling="no", frameborder="0", style="height: 600px")
    .demo
      h3#thumbs_gallery_with_loop_mode Thumbs Gallery With Loop Mode
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="310-thumbs-gallery-loop.html", scrolling="no", frameborder="0", style="height: 600px")
    .demo
      h3#hash_navigation Hash Navigation (Open in new window)
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="330-hash-navigation.html", scrolling="no", frameborder="0")
    .demo
      h3#history_API History API (Open in new window)
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="340-history.html", scrolling="no", frameborder="0")
    .demo
      h3#RTL_layout RTL Layout
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="350-rtl.html", scrolling="no", frameborder="0")
    .demo
      h3#parallax Parallax
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="360-parallax.html", scrolling="no", frameborder="0")
    .demo
      h3#lazy_loading_images Lazy Loading Images
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="370-lazy-load-images.html", scrolling="no", frameborder="0")
    .demo
      h3#responsive_breakpoints Responsive Breakpoints (Open in new window)
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="380-responsive-breakpoints.html", scrolling="no", frameborder="0")
    .demo
      h3#auto_height Auto Height
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="390-autoheight.html", scrolling="no", frameborder="0", style="height: 500px")
    .demo
      h3#zoom Zoom
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="400-zoom.html", scrolling="no", frameborder="0")
    .demo
      h3#virtual_slides Virtual Slides
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="410-virtual-slides.html", scrolling="no", frameborder="0", style="height: 400px")
    .demo
      h3#slideable_vavigation_drawer Slideable Navigation Drawer
      .demo-links
        a(href="", target="_blank").demo-link-new-window #{linkWindowText}
        a(href="", traget="_blank").demo-link-source #{linkSourceText}
      .demo-iframe
        iframe(data-src="430-slideable-menu.html", scrolling="no", frameborder="0")
